<html>
<head>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    
        
</head>
<body>
        <a  href="search.html"class="btn">Home</a><br><br>
       
<% if (url) { %>
    <p> <%- url  %> </p>
<% } %>
</body>
</html>
